<p id="notice"><%= notice %></p>

<p>
  <strong>Jscode:</strong>
  <%= @aframe.jscode %>
</p>

<p>
  <strong>Htmlcode:</strong>
  <%= @aframe.htmlcode %>
</p>

<%= link_to 'Edit', edit_aframe_path(@aframe) %> |
<%= link_to 'Back', aframes_path %>
