<!DOCTYPE html>
<html>
  <head>
    <title>LearnAframe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <%= javascript_tag do %>
      window.namespace = <%= raw @namespace.to_json %>
      window.env = '<%= Rails.env %>'
    <% end %>
    </head>

  <body>
    <%= yield %>
  </body>
</html>
