<!DOCTYPE html>
<html>
  <head>
    <title>LearnAframe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <script src="https://rawgit.com/feiss/aframe-environment-component/master/dist/aframe-environment-component.min.js"></script>
    <script src="https://unpkg.com/aframe-particle-system-component@1.0.x/dist/aframe-particle-system-component.min.js"></script>
    <%= javascript_tag do %>
      window.namespace = <%= raw @namespace.to_json %>
      window.env = '<%= Rails.env %>'
    <% end %>
 		
<script type="text/javascript" src="http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject.js"></script>
<script type="text/javascript">
<!--
function GetUnity() {
	if (typeof unityObject != "undefined") {
		return unityObject.getObjectById("unityPlayer");
	}
	return null;
}
if (typeof unityObject != "undefined") {
	unityObject.embedUnity("unityPlayer", "banger.unity3d", 480, 320);
	
}
-->
</script>
<style type="text/css">
<!--
body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	background-color: white;
	color: black;
	text-align: center;
}
a:link, a:visited {
	color: #000;
}
a:active, a:hover {
	color: #666;
}
p.header {
	font-size: small;
}
p.header span {
	font-weight: bold;
}
p.footer {
	font-size: x-small;
}
div.content {
	margin: auto;
	width: 480px;
}
div.missing {
	margin: auto;
	position: relative;
	top: 50%;
	width: 193px;
}
div.missing a {
	height: 63px;
	position: relative;
	top: -31px;
}
div.missing img {
	border-width: 0px;
}
div#unityPlayer {
	cursor: default;
	height: 320px;
	width: 480px;
}
-->
</style>
    </head>

  <body>
    <%= yield %>
  </body>
</html>
